<style type="text/css">
.img-center {
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:35%;
    padding-left:40px;
    padding-right:40px;
    transform:translateY(-50%);
}
</style>
<ion-view cache-view="false" hide-nav-bar="true" hide-back-button="true">
  	
      <div>
        <img src="img/AOT_Logo.png" class='img-center full-image'>
      </div>

      <div class='text-center' style='margin-top:80%'>

        <button class='button icon-left ion-loop button-calm' ng-show='showBtnReconnect' ng-click='processLogInAPI()'>เชื่อมต่ออีกครั้ง</button>

        <div style='margin-top:10%;color:gray;'>
          <p>โปรแกรมอยู่ระหว่างการทดสอบ</p>
          <p>พบปัญหาการใช้งานหรือมีข้อเสนอแนะกรุณาอีเมล์มาที่</p>
          <p>esupport@airportthai.co.th</p>
        </div>
        
      </div>
        
</ion-view>

