<style type='text/css'>
  .imgSatisfaction{
    width:20px;
    height:20px;
  }
  .border{
    margin-top:10px !important;
    border-bottom: 1px solid;
  }
</style>

<ion-view cache-view="false" view-title="สถิติ">
    <ion-content>

    <div class='row border'>
      <div class='col col-5 text-center'>
        <h5>ลำดับ</h5>
      </div>
      <div class='col col-50 text-center'>
        <h5>ชื่อ</h5>
      </div>
      <div class='col text-center'><img class='imgSatisfaction' src="img/satisfaction/1.png"></div>
      <div class='col text-center'><img class='imgSatisfaction' src="img/satisfaction/2.png"></div>
      <div class='col text-center'><img class='imgSatisfaction' src="img/satisfaction/3.png"></div>
      <div class='col text-center'><img class='imgSatisfaction' src="img/satisfaction/4.png"></div>
    </div>

    <div class='row border' ng-repeat='stat in wcStats'>
      <div class='col col-5 text-center'>
        <p>{{$index + 1}}</p>
      </div>
      <div class='col col-50'>
        <p>{{stat.Empl}}</p>
      </div>
      <div class='col text-center'>{{stat.Satisfaction1}}</div>
      <div class='col text-center'>{{stat.Satisfaction2}}</div>
      <div class='col text-center'>{{stat.Satisfaction3}}</div>
      <div class='col text-center'>{{stat.Satisfaction4}}</div>
    </div>

    <div style='margin-top:10px;margin-left:10px;'>
      <p>{{CurrentDateTime}}</p>
    </div>
    

    </ion-content>
</ion-view>
