
<ion-view cache-view="false" view-title="Welldone-Card">

    <ion-content>

        <div class='row'>

            <div class="col col-33 text-center">
                <div class="card">
                    <a class="item" href="#/app/welldonecardsendwc">
                        <i class="icon larger ion-ios-star-outline"></i>
                        <div class="item-text-wrap">ส่งคำชม</div>
                    </a>
                </div>
            </div>

            <div class="col col-33 text-center">
                <div class="card">
                    <a class="item" href="#/app/welldonecardhistory">
                        <i class="icon larger ion-refresh"></i>
                        <div class="item-text-wrap">ประวัติคำชม</div>
                    </a>
                </div>
            </div>

            <div class="col col-33 text-center">
                <div class="card">
                    <a class="item" href="#/app/welldonecardstat">
                        <i class="icon larger ion-stats-bars"></i>
                        <div class="item-text-wrap">สถิติ</div>
                    </a>
                </div>
            </div>

        </div>

    </ion-content>

</ion-view>

